.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
    .title-wrapper {
      display: flex;
      
      justify-content: center;
    }
  
    .title {
      border-bottom: solid 4px #d90013;
    border-radius: 65px 15px;
    text-align: center;
    width: 160px;
    
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-style: italic ;
    transition: all 0.1s ease-out;

    &:hover {
      opacity: 0.6;
      transform: scale(1.2);
      transition: 0.3s ease;
    }
    

    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  